html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100svh;
}
body {
  padding-bottom: env(safe-area-inset-bottom);
}
.site-title {
  max-width: 100%;
  height: auto;
  border-radius: 25px !important;
  display: block;
  margin: 0 auto;
}
.site-subtitle {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-top: 0.5rem;
}